@import "variables";

#header {
  border-bottom: 2px solid $gray-3;
  padding: $spacer-2 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 0 $spacer-3;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#cart-badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 4px;
  margin-left: -13px;
  margin-bottom: -1px;
  font-size: 10px;
  // font-weight: $font;
  line-height: 1;
  color: $white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $primary;
  border-radius: 10px;
}
