@import "reset";




:root {   /*variables- COLORES de FIGMA*/

  --grayLine: #C7C7C7;
  --primariaButtonBlue: #00C0EE;
  --whiteText: #FFFFFF;
  --title: #333333;
  --buttonFilters: #666666;


  --cadText: #000000;
} 



*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%; /*1rem=10px*/
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

body {
  cursor: default;
}


// --------------------------HEADER-----------------

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  border-bottom: 3px solid var(--grayLine);
  align-items: center;
  padding: 27px;
}

.header__logo {
  width: 120px;
  height: 29px;
}

.header__bag{
  
  background-image: url("../img/bag.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 17px;
  height: 20px;
} 


.header__number{
  position: absolute;
  width: 12px;
  height: 12px;
  right: 25px;
  top: 30px; 
  border-radius: 16px;
  background-color: var(--primariaButtonBlue);
  color: var(--whiteText);
  text-align: center;
  font-size: 1.2rem;
  
}


//----------- TITLE AND BUTTONS ---------

.main__info{
  text-align:center;
}  

.main__title{
  width: 100%;
  height: 44px;
  font-size: 3.2rem;
  color: var(--title);
  margin-top: 30px;
}


.main__buttonsFilters{
  width: 171px; 
  height: 49px;
  display: inline-block; 
  border: 1px solid var(--buttonFilters);
  background-color: white;
  color: var(--buttonFilters);
  font-size: 2.4rem;
  margin: 5px 0 25px ;

}:hover{
  cursor: pointer;
}




//-------------- CARD (ITEMS)



.main__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card{
  height: auto;
  width:162px;
  min-width: 162px;
  margin: 9px 12px 9px;
  text-align: center;
}

.img-fluid{
  min-width: 162px;
  height: 243px;
}

.card-body h4{
  text-transform: uppercase;
  color:var(--cadText);
  font-size: 1.4rem;
  margin: 8px 0 8px;
}

.card-body h5 {
  font-size: 1.6rem;
  color:var(--cadText);
  font-weight: bold;
}

.card-body p{
  font-size: 1.6rem;
  color: var(--buttonFilters);
}


.button-card{
  background-color: var(--cadText);
  width: 162px;
  height: 33px;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--whiteText);
  margin-top: 12px;
}

//-----MODAL FORM

#modalForm{
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
  
}


/* The Close Button */

/* 
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}  */



.modal__Filter{
  position: relative; 
  display:flex;
  justify-content: space-between;
  width: 100%;
  min-width: 375px; 
  height: 62px; 
  padding: 20px 16px;
  align-items: center;
  border-width: 2px;
  border-bottom-style: solid;
  border-color: var(--grayLine);
}

.modal__FilterTitle,.modal__FilterIcon {
  font-size:2.8rem;
  color:var(--buttonFilters);
}

.modal__FilterIcon:hover, .form__id--icon:hover{
  color: var(--primariaButtonBlue);
}

.form__titles{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:30px 16px 10px;

}
.form__id, .form__id--icon{
  font-size: 2.4rem;
  color:var(--buttonFilters);
}
#colors, #range{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  margin: 8px 10px 8px 16px;
  border-radius: 8px;
  

}

.form__colors, .form__ranges{
  display: inline-block;
  font-size:1.4rem;
  color: var(--cadText);
  
}


//---- Formulario tallas

.form__size{
  width:170px;
  height: auto;
  margin-left: 16px;
  margin-top: 10px;
}


article {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 4px;
  float: left;
  border: 2px solid var(--grayLine);
  
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  transition: .5s ease;
}

article div span{
  font-size:1.6rem;
  color: var(--buttonFilters);
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

input[type=checkbox]:checked ~ div {
  background-color: var(--primariaButtonBlue);
} 


//--- BOTONES FORMULARIOS 

.buttonsForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#buttonFormSend{
  margin: 5px 8px;
  width: 160px;
  height: 35px;
  left: 16px;
  top: 885px;

  background: var(--primariaButtonBlue);
  color: var(--whiteText);
  font-size:1.4rem;
  border-color: var(--primariaButtonBlue);
} 

#buttonFormClear{
  color: var(--buttonFilters);
  font-size:1.4rem;
  margin: 5px 8px;
  width: 160px;
  height: 35px;
  left: 16px;
  top: 885px;
  background-color: white;
  border-color:var(--grayLine); 

}



//----------------- ocultar submenu

/* Efecto para aparacer y desaparecer enlaces */
.menudesplegable .form__fieldset .form__colors--ocult{
  height: 0;
  overflow: hidden;
}

.menudesplegable .form__fieldset .animation{
  height: 100%;
}

//--- MODAL ORDERS


#modalOrder{
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
  
}



.lista{
  display: none;
}


//------- Carrito



.tableContaines{
  display: none; /* Hidden by default */
 position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
 // padding-top: 100px; /* Location of the box */
  right: 0;
  top: 50px;
  width: 375px;
  max-width: 550px; 
  min-height: 300px ;
  background-color: var(--primariaButtonBlue);
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.table{
  width: 375px; 
  height: auto;
  border: 1px solid var(--grayLine);
  border-collapse: collapse;
}


thead{
  font-size: 1.6rem;
 // background-color: var(--grayLine)
}

thead th {
  
  border: solid 2px var(--buttonFilters);
  height: 30px;
  width: 120px;
  text-align: center;
  color: white;
    font-weight: bold;
  background-color: var(--cadText);
  //opacity: 0.5;
}


tr{
  border: solid 2px var(--buttonFilters);
  height: 30px;
  width: 120px;
  background-color: white;
}

td, th{
  
  font-size: 1.4rem;
  color: var(--title);
  border: 1px solid var(--buttonFilters);
  text-align: center;
}




.tableContaines .comprar{
  background-color: var(--cadText);
  color: white;
  width: 80px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
} 

.tableContainesTitle {
  display: flex;
} 

.tableContainesTitle p {
  right: 0;
  margin-left: 240px;
}

.tableContaines h2, .tableContaines p {
  color: var(--cadText);
  font-size:1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

//--------- Desktop--------


@media (min-width: 900px) {
  .main__info {
    //text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 36px;
  }
.main__title{
  width: auto;
  margin-top:0;
}
  
  #modalForm{
    display: flex; 
    position: absolute; 
    z-index: 1; 
    left: auto;
    top: auto; 
    width: 250px; 
    height: auto;
    margin-left: 20px;
   
   
    
  }
  
   .modal__Filter{
    display: none;
  } 

  .menudesplegable .form__fieldset .form__colors--ocult{
    height: auto;
    //width: 30%;
    overflow: hidden;
  }
  .main__items {
    width: 620px;
    //margin:auto; //300px;
    margin-left: 300px;
  } 

  .close{
    display: none;
  }

  .form__id--icon{
    display: none;
  }

  .form__id{
    font-size:1.6rem;
  }

  .main__buttonsFilters{
    display: none;
  } 

  .form__titles{
    padding-top: 0;
  }

  .form__colors--ocult{
    padding-bottom: 30px;
  }

  .lista{
    display:flex;
    flex-direction: column;
  }


  .lista__titulo--items{
    display: none;
  }


  
  .lista__titulo{
    margin: 0;
    font-size:1.6rem;
    border: 1px solid var(--grayLine);
    display: flex;
    
   
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 42px;
   
  }

  .lista__titulo--items{
    width: 142px;
    height: 107px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top:155px;
  }
    
  .lista__titulo--items li{
    width: 100%;
    height: 36px;
    font-size: 1.6rem;
  
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 100;
  }
  
/* 
  .main__buttonsFilters p, .main__buttonsFilters span{
    display: flex;
   padding-left:10px;
    justify-content:center;
    align-items:center;
    
  }

  .main__buttonsFilters span{
    padding-left:  10px;
  } */

  
  
}







@media (min-width: 1200px) {
  .main__items {
    
  margin-left: 400px; 
  }  
  .main__info {
    
    margin: 50px 80px 50px 162px;
  }

  #modalForm{
   
    margin-left: 162px;
  }

  header{
    padding: 0 80px;
  }

  .header__number{
    margin-right: 50px;
  }
 
}




@media (min-width: 1400px) {
  .main__items {
    
  margin:auto; 
  }  

  .main__info {
    
    margin: 50px 162px;
  }

 

  #modalForm{
   
    margin-left: 162px;
  }
 

  header{
    padding: 0 162px;
  }

  .header__number{
    margin-right: 130px;
  }
}
