@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --primary-color: #00c0ee;
  --cinza1: rgba(0, 0, 0, 0.5);
  --cinza2: #666666;
  --preto: #000000;
  --blanco: #fff;
}

* {
  //background-color: white;
  font-family: "Open Sans";
  margin: 0%;
  color: var(--preto);
}
li {
  height: 28px;
}
button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
//centrar texto
.text-center {
  text-align: center;
}
//centrar contenigo
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-right {
  text-align: right;
}
.select-right {
  width: 100%;
  height: 170px;
  position: relative;
  background-color: transparent;
  justify-content: right;
  align-items: center;
  display: flex;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  border: 1px solid var(--cinza1);
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--blanco);
  color: var(--preto);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: var(--preto);
  padding: 8px 16px;
  border: 1px solid var(--cinza1);
  border-color: transparent;
  cursor: pointer;
  text-align: left;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--blanco);
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 99;
  border: 1px solid var(--cinza1);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: var(--primary-color);
}
// padding-top
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}
.pt150 {
  padding-top: 150px;
}
.pt200 {
  padding-top: 200px;
}
//padding-bottom
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}

.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}

.bold {
  font-weight: 900;
}

[type="checkbox"] {
  display: none;
}
// input[type="checkbox"] + .labelm3 {
//   cursor: pointer;
// }

.wrapper {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.containerm3 {
  width: 100%;
}
.bodycontainerm3 {
  width: 100%;
}
.headerm3 {
  width: 100%;
  height: 48px;
  left: 0px;
  top: 16px;
}
.headerlogom3 {
  position: absolute;
  width: 119px;
  height: 30px;
  left: 10%;
  top: 16px;
}
.headericonm3 {
  position: absolute;
  width: 17px;
  height: 20px;
  right: 10%;
  top: 20px;
}
.separator {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 62px;
  background: var(--cinza1);
}
.titlem3 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  // line-height: 44%;
}
.title16px {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22%;
}
.listm3 {
  padding-inline: 0;
  margin: 0;
  list-style: none;
}
.itemlistm3 {
  list-style: none;
  padding-top: 5px;
}
.labelm3 {
  padding-left: 1.9em;
  position: relative;
  padding-top: 0;
}
.labelsize {
  position: relative;
  padding-top: 0;
  color: var(--cinza2);
  width: 33px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.labelm3:before {
  top: 2px;
  content: "";
  border: solid 1px var(--cinza1);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  padding: 0;
}
.labelsize:before {
  top: 2px;
  content: "";
  border: solid 1px var(--cinza1);
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  padding: 0;
  color: #000000;
}
input:before {
  top: 2px;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
}
input[type="checkbox"]:checked + .labelm3:before {
  top: 2px;
  content: "";
  border: solid 1px var(--cinza1);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
}
input[type="checkbox"]:checked + .labelm3:after {
  top: 6px;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 4px;
  background-color: var(--primary-color);
}
input[type="checkbox"]:checked + .labelsize:before {
  top: 2px;
  content: "";
  border: solid 1px var(--primary-color);
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  color: var(--preto);
}
input[type="checkbox"]:checked + .labelsize {
  color: var(--preto);
}
.buy-button {
  width: 90%;
  height: 34px;
  color: var(--blanco);
  background-color: var(--preto);
  font-weight: 700;
  font-size: 16px;
}
//Grid del cuerpo del documento
.item1 {
  grid-area: header;
}
.item2 {
  width: 100%;
  grid-area: main;
  padding-top: 50px;
}
.item3 {
  grid-area: body;
  padding-top: 50px;
}
.item4 {
  grid-area: footer;
}

.grid-container {
  margin: 0%;
  display: grid;
  grid:
    "header header header header header"
    "main body body body body"
    "footer footer footer footer footer";
  grid-gap: 3px;
  padding: 3px;
}

.grid-container > div {
  padding: 0;
  font-size: 16px;
  margin: 0;
}
//grid de los tamaños
.sizep {
  grid-area: P;
  width: 32px;
  height: 32px;
}
.sizem {
  grid-area: M;
  width: 32px;
  height: 32px;
}
.sizeg {
  grid-area: G;
  width: 32px;
  height: 32px;
}
.sizegg {
  grid-area: GG;
  width: 32px;
  height: 32px;
}
.sizeexg {
  grid-area: EXG;
  width: 32px;
  height: 32px;
}
.size34 {
  grid-area: "34";
  width: 32px;
  height: 32px;
}
.size36 {
  grid-area: "36";
  width: 32px;
  height: 32px;
}
.size38 {
  grid-area: "38";
  width: 32px;
  height: 32px;
}
.size40 {
  grid-area: "40";
  width: 32px;
  height: 32px;
}
.size42 {
  grid-area: "42";
  width: 32px;
  height: 32px;
}
.size44 {
  grid-area: "44";
  width: 32px;
  height: 32px;
}
.size46 {
  grid-area: "46";
  width: 32px;
  height: 32px;
}
.grid-sizes {
  margin: 0%;
  display: grid;
  grid:
    "P M G GG"
    "EXG 36 38 40"
    "42 44 46 48";
  grid-gap: 6px;
}
.grid-sizes > div {
  padding: 0;
  font-size: 30px;
  margin: 0;
}
//grid catalogo
.grid-catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-inline: 10%;
  //grid-auto-rows: 100px 200px;
}
.data-card {
  text-align: center;
}
.img-contenedor {
  overflow: hidden;
}
.img-contenedor img {
  transition: all 0.9s ease;
  width: 100%;
}
.img-contenedor:hover img {
  transform: scale(1.1);
}
.footer {
  padding: 7px;
  text-align: center;
  background-color: var(--preto);
  height: auto;
  width: 100%;
}
.tipographyfooter {
  color: var(--blanco);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19.07px;
  margin: 5px;
}

//.checker::before +

div input[type="checkbox"] + label {
  cursor: pointer;
}

.fondo-modal {
  z-index: 100;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.modal-container{
  z-index: 200;
  width:440px;
  background-color:var(--blanco);
  box-shadow:0 0 5px var(--cinza1);
  border:1px solid var(--cinza2);
  padding:30px;
  text-align:center;
}
.modal-separator{
  background-color:"rgba(255,255,255,0.9)";
  margin-block:20px;
}
.modal-button{
  height:45px;
  width:230px;
  background-color:var(--primary-color);
  color:var(--preto);
  font-weight:bold
}
.grid-modal{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
}
